*{margin:0;padding:0;box-sizing:border-box;}
body{
    font-family:"Poppins",sans-serif;
    overflow-x:hidden;
    background:#ffffff;
    color:#fff;
}

/* HERO */
.hero{
    height:100vh;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    overflow:hidden;
}
.hero-video{
    position:absolute; inset:0;
    width:100%; height:100%;
    object-fit:cover;
    filter:brightness(.35);
}
#circuitCanvas{
    position:absolute; inset:0;
    width:100%; height:100%;
    opacity:.40;
}
.hero-inner{
    position:relative;
    z-index:5;
    max-width:900px;
}

/* TEXT PURE WHITE */
.hero-title{
    font-size:4rem;
    font-weight:700;
    margin-bottom:18px;
    color:#2e3fda !important;
}
.hero-sub{
    font-size:1.45rem;
    margin-bottom:40px;
    color:#ffffff !important;
    opacity:0.9;
}

/* BUTTON */
.hero-btn{
    padding:18px 60px;
    border:none; border-radius:10px;
    background:#00b9ff;
    font-size:1.25rem; font-weight:600;
    cursor:pointer; color:#fff;
    transition:.35s;
}
.hero-btn:hover{
    background:#0098d7;
    transform:scale(1.05);
    box-shadow:0 0 18px rgba(0,180,255,.7);
}

/* RESPONSIVE */
@media(max-width:650px){
  .hero-title{font-size:2.8rem;}
  .hero-sub{font-size:1.2rem;}
}
